<div class="preview-panel" id="preview-panel">
  <%= erb :_editor %>
  <div class="video-wrapper" id="video-wrapper">
    <div class="placeholder">Select a clip to preview</div>
  </div>
  <%= erb :_video_controls %>
</div>
