<div class="preview-panel" id="preview-panel" data-navigation-target="previewPanel">
  <%= erb :_editor %>
  <div data-controller="video-player"
       data-video-player-clip-id-value=""
       data-video-player-src-value="">
    <div class="video-wrapper" id="video-wrapper" data-video-player-target="videoWrapper">
      <div class="placeholder">Select a clip to preview</div>
    </div>
    <%= erb :_video_controls %>
  </div>
</div>
