<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invasion Extractor</title>
  <link rel="stylesheet" href="/app.css">
  <script type="importmap">
  {
    "imports": {
      "@hotwired/stimulus": "https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2.2/dist/stimulus.js"
    }
  }
  </script>
  <script type="module" src="/stimulus.js"></script>
</head>
<body>
  <div data-controller="navigation" data-navigation-current-view-value="all">
    <%= erb :_header %>
    <main>
      <%= erb :_clip_panel %>
      <%= erb :_preview_panel %>
    </main>
  </div>
</body>
</html>
